<nav class="navbar navbar-expand-lg navbar-light bg-light my-3 rounded shadow-sm">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="./Categorie.jsp">Categorie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./Client.jsp">Client</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./Employee.jsp">Employee</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./Format.jsp">Format</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./Genre.jsp">Genre</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./Matiere.jsp">Matiere</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./Product.jsp">Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./Quantite.jsp">Quantite</a>
            </li>
        </ul>
    </div>
    </nav>