select {
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    flex: 1;
    padding: 0 1em;
    color: white;
    background-color: rgb(127, 186, 50);
    cursor: pointer;
    width: 250px;
    height: 60px;
    font-size: 24px;
}

select::-ms-expand{
    display: none;
}