<div class="col-sm-auto sticky-top m-3 rounded-sidebar shadow-sm" style="background-color: #353e37;">
    <div class="d-flex flex-sm-column rounded-sidebar flex-row flex-nowrap align-items-center sticky-top" style="background-color: #353e37;">
        <ul class="p-3 nav nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
            <li class="nav-item mt-3">
                <a href="/poketra/entity/" class="link-dark nav-link rounded-circle item">
                    <i style="color: white;" class="bi-box-seam fs-4"></i>
                </a>
                <h6 style="color: white;">Entity</h6>
            </li>
            <li class="nav-item mt-3">
                <a href="/poketra/filtre" class="link-dark nav-link rounded-circle item">
                    <i style="color: white;" class="bi-view-list fs-4"></i>
                </a>
                <h6 style="color: white;">Filtre</h6>
            </li>
            <li class="nav-item mt-3">
                <a href="/poketra/Achat.jsp" class="link-dark nav-link rounded-circle item">
                    <i style="color: white;" class="bi-basket fs-4"></i>
                </a>
                <h6 style="color: white;">Achat</h6>
            </li>
            <li class="nav-item mt-3">
                <a href="/poketra/Effectif.jsp" class="link-dark nav-link rounded-circle item">
                    <i style="color: white;" class="bi-receipt fs-4"></i>
                </a>
                <h6 style="color: white;">Effectif</h6>
            </li>
            <li class="nav-item mt-3">
                <a href="/poketra/Entree.jsp" class="link-dark nav-link rounded-circle item">
                    <i style="color: white;" class="bi-tags fs-4"></i>
                </a>
                <h6 style="color: white;">Entree</h6>
            </li>
            <li class="nav-item mt-3">
                <a href="/poketra/EtatStock.jsp" class="link-dark nav-link rounded-circle item">
                    <i style="color: white;" class="bi-people fs-4"></i>
                </a>
                <h6 style="color: white;">Stock</h6>
            </li>
            <li class="nav-item mt-3">
                <a href="/poketra/Vente.jsp" class="link-dark nav-link rounded-circle item">
                    <i style="color: white;" class="bi-cash-stack fs-4"></i>
                </a>
                <h6 style="color: white;">Vente</h6>
            </li>
        </ul>
    </div>
</div>